                        * {
                            padding: 0;
                            margin: 0;
                            box-sizing: border-box;
                        }
                        header{
                            background-color:rgba(242, 48, 203, 0.486);
                            overflow: hidden;
                        }
li{
    list-style: none;
}
a{
    color: rgba(29, 20, 20, 0.63);
    text-decoration: none;
}
.navbar{
min-height: 70px;
display: flex;
justify-content: space-between;
align-items: center;
padding: 0 24px;
}
.nav-menu{
    display: flex;
    justify-content:space-between;
    align-items: center;
    gap:60px;
}
.nav-branding{
    font-size: 2rem;
}
.nav-link{
    transition: 0.7s ease;
}
.nav-link:hover{
    color: #3704509b;
}
.harmbuger{
    display: none;
    cursor: pointer;
}
.bar{
    display: block;
    width:25px ;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
background-color: blue;
}

@media screen and (max-width: 768px) {
.harmbuger{
    display: block;
}
.harmbuger .active .bar:nth-child(2){
    opacity: 0;
}
.harmbuger .active .bar:nth-child(1){
    transform: translateY(8px) rotate(45deg);
}
.harmbuger .active .bar:nth-child(3){
    transform: translateY(-8px) rotate(-45deg);
}
.nav-menu{
    position: fixed;
    left: -100%;
    top: 70px;
    gap: 0;
    flex-direction: column;
    background-color:orange;
    width: 100%;
    text-align: center;
    transition: 0.3s;
}
.nav-items{
    margin: 16px 0;
}
.nav-menu.active{
    left:0;
}


}
                         /* :root {
                            --primary-colour: rgba(242, 48, 203, 0.486);
                        } */
                        
                        /* .fixed-header { */
                            /* overflow: hidden; */
                            /* background-color: var(--primary-colour);
                            padding: 20px 10px;
                        }
                        
                        .fixed-header a {
                            color: rgba(29, 20, 20, 0.63);
                            text-align: center;
                            padding: 14px 16px;
                            text-decoration: none;
                            font-size: 18px;
                            line-height: 25px;
                            border-radius: 4px;
                        }
                         */
                        /* .fixed-header a.home {
                            font-size: 25px;
                            font-weight: bold;
                        } */
                        
                        /* .fixed-header a:hover {
                            background-color: #3704509b;
                            color: rgb(0, 0, 0);
                        } */
                        
                        /* .fixed-header a.active {
                            background-color: #626ca3;
                            color: white;
                        } */
                        
                        /* .fixed-header {
                            display: flex;
                            justify-content: space-between;
                        }
                         */
                        /* .fixed-header .icon {
                            display: none;
                        } */
                        
                        /* @media screen and (max-width: 550px) { */
                            /* .fixed-header {
                                position: relative;
                                height: 90px;
                            }
                            .fixed-header a:not(:first-child) {
                                display: flex;
                            }
                            .fixed-header a.icon {
                                float: right;
                                display: flexbox;
                            } */
                            /* @media screen and (max-width: 550px) { */
                            /* .fixed-header.responsive {
                                position: relative;
                            } */
                            /* .fixed-header.responsive a.icon {
                                position: fixed;
                                display: block;
                                position: absolute;
                                right: 0;
                                top: 0;
                            }
                            .fixed-header.responsive a {
                                float: none;
                                display: flex;
                                text-align: center;
                            }
                            .fixed-header.header.responsive a.home {
                                margin-top: 15.85px;
                            }
                            .menuItems {
                                position: absolute;
                                top: 90px;
                                transform: translateX(-100%);
                                left: 0;
                                width: 100vw;
                                background-color: #626ca3;
                            }
                            .menuItems.active {
                                transform: translateX(0);
                            } */
                        /* } */
                        /* background-color: #626ca3; */
                        /* } */
                        