                          :root {
                            --primary-colour: rgba(242, 48, 203, 0.486);
                        } 
                        #my-header {
                            display: grid;
                            grid-template-columns: 2;
                          }
                        
                        .fixed-header { 
                             background-color: var(--primary-colour);
                            padding: 20px 10px;
                        }
                        
                        .fixed-header a {
                            color: rgba(29, 20, 20, 0.63);
                            text-align: center;
                            padding: 14px 16px;
                            text-decoration: none;
                            font-size: 18px;
                            line-height: 25px;
                            border-radius: 4px;
                        }
                         
                         .fixed-header a.home {
                            font-size: 25px;
                            font-weight: bold;
                        } 
                        
                         .fixed-header a:hover {
                            background-color: #3704509b;
                            color: rgb(0, 0, 0);
                        } 
                        
                         .fixed-header a.active {
                            background-color: #626ca3;
                            color: white;
                        } 
                        
                         .fixed-header {
                            display: flex;
                            justify-content: space-between;
                        }
                         
                         .fixed-header .icon {
                            display: none;
                        } 
                        
                         @media screen and (max-width: 550px) { 
                             .fixed-header {
                                position: relative;
                                height: 90px;
                                /* display: grid;
  grid-template-columns: 2; */
                            }
                            /* #my-header {
                                display: grid;
                                grid-template-columns: 2;
                              } */
                            #menu {
                                grid-column: 2/3;
                                text-align: left;
                              }
                              
                              #menu:hover {
                                grid-column: 2/3;
                                color: red;
                              }
                            /* .fixed-header a:not(:first-child) {
                                display:flex;
                            } */
                            /* .fixed-header a.icon {
                                float: right;
                                display: flexbox;
                            }  */
                             .fixed-header.responsive {
                                position: relative;
                            } 
                             /* .fixed-header.responsive a.icon {
                                position: fixed;
                                display: block;
                                position: absolute;
                                right: 0;
                                top: 0;
                            } */
                            /* .fixed-header.responsive a {
                                float: none;
                                display: flex;
                                text-align: center;
                            }
                            .fixed-header.header.responsive a.home {
                                margin-top: 15.85px;
                            } */
                            .menuItems {
                                position:absolute;
                                top: 90px;
                                transform: translateX(-100%);
                                left: 0;
                                width: 100vw;
                                background-color: #626ca3;
                                display: block;
                                /* margin-bottom: 50px; */
                                padding: 14px 16px;
                                z-index: 10;
                                
                            }
                            .menuItems.active {
                                transform: translateX(0);
                            } 
                            a {
                                text-decoration: none;
                                /* background-color: aqua; */
                                margin-top: 20px;
                                padding: 15px 60% 15px 60%;
                              }
                              #menuBar{
                              visibility: visible;
                              z-index: auto;
                            }
                            ul {
                                list-style: none;
                                list-style-type: none;
                                text-decoration: none;
                              }
                              
                              li {
                                width: 60%;
                                padding-top: 15px;
                                padding-bottom: 15px;
                                margin-top: 15px;
                              }
                              
                              li:hover {
                                background-color: blue;
                                font-weight: bold;
                              }
                              
                              
                        }
                     
                        
                         