body {
    display: grid;
    width: 100%;
    margin: 0px;
    background-image: url('../images/E1lZrlkVcAMBwPs.jpg_large');
    color:aqua;
 
}


.icon {
    padding-right: 100px;
    padding-left: 70px;
    position: relative;
    top: 5px;
    left: 5px;
    text-align: center;
    
}
.icons{
    text-align: center;
    padding-right: 100px;
    padding-left: 100px;
    position: relative;
    top: 5px;
    margin-top: -50px;
}

.gridContainer {
    display:flex;
    width: 100%;
    margin-top: 0%;
   
}

a {
    text-decoration: none;
}

.gridContainer div div ul li a {
    font-size: 1.5em;
}

ul li {
    list-style: none;
    
}
ol li {
    list-style-type: circle;
}
p{
    min-height: 45vh;
    font-family:sans-serif;
    font-style:normal;
}

.content div h1 {
    text-align: center;
}

footer {
    position: fixed;
        bottom: 0;
        width: 100%;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
   
    height:50px;
    align-items: center;
    bottom:0;
    justify-items: center;
    margin-top:30px;
}
.topnav{
    /* height: 70px; */
    position: relative;
    display: flex;
    justify-content: center;
    z-index: 1;
    /* border-radius: 10px;  */
    color: rgb(63, 209, 228)
} 


footer a i {
    color: rgb(63, 209, 228)
}

img {
    margin: auto;
    border-radius: 50%;
    max-width:200px;
    margin-top:20px;
}

.topNavBar {
    display: grid;
    grid-template-columns: 1fr 3fr;
    background-color: rgba(0, 0, 0, 0.309);
}

.topBarMenu {
    position: fixed;
        bottom: 0;
        width: 100%;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
   
    height:50px;
    align-items: center;
    bottom:0;
    justify-items: center;
    margin-top:30px;

}

.content {
    display: grid;
    margin: 0% 5% 0% 5%;
}


button {
    border-radius: 10px;
}

textarea {
    width: 100%;
    border: solid;
    height: 80px;
}

.skillsItem{
   margin-bottom: 50px;
    padding-bottom:10px;
    word-spacing:25px;
}

.contactStyle{
    text-align: center;
    padding:30px;
}
.Happy{
    text-align: center;
    padding-left: 30px;
    
}
h1{
    text-align: center;
    /* margin: 50px; */
}
.skills{
        margin-top: 50px;
}
.loader-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid navy; /* Blue */
    border-radius: 50%;
    width: 320px;
    height: 320px;
    animation: spin 5s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
@media screen and (max-width: 1200px) {
    img {
        margin: auto;
        margin-top: 15px;
        border-radius: 50%;
        width: 50%;
    }

    .gridContainer {
        display: grid;
        grid-gap: 150px;
    }

    .topNavBar .icon {
        
        margin-right: 10%;
        text-align:right;
    }
    
    .icons{
        margin-bottom: 50px;
        padding-right: 100px;
        position: relative;
        top: 5px;
        
    }
    p{
        margin-bottom: 70px;
    }
    .skillsItem{
        margin-top: -30px;
    }
    .skillsPage{
        margin-left: -10em;
    } 
    .skills{
        margin-top: 50px;
        text-align: center;
        padding-left: 10px;
        margin-bottom: 20px;

    }  
    h2{
        text-align: center; 
        padding-left: 100px;
        margin-bottom: 50px;
    }
    
}