body {
    display: grid;
    width: 100%;
    margin: 0px;
    background:#f6a0f329;
  
}
.icon {
    padding-right: 100px;
    padding-left: 70px;
    position: relative;
    top: 5px;
    left: 5px;
    text-align: center;
    
}

.gridContainer {
    display:flex;
    width: 100%;
    margin-top: 0%;
   
}

a {
    text-decoration: none;
}

.gridContainer div div ul li a {
    font-size: 1.5em;
}

ul li {
    list-style: none;
    
}
ol li {
    list-style-type: circle;
}
p{
    min-height: 45vh;
    font-family:sans-serif;
    font-style:normal;
}

.content div h1 {
    text-align: center;
}

footer {
    position: fixed;
        bottom: 0;
        width: 100%;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    background-color: rgb(0, 0, 0);
    height:50px;
    align-items: center;
    bottom:0;
    justify-items: center;
    margin-top:30px;
}

footer a i {
    color: rgb(63, 209, 228)
}

img {
    margin: auto;
    border-radius: 50%;
    max-width:200px;
    margin-top:15px;
    margin-bottom:30px


}

.topNavBar {
    display: grid;
    grid-template-columns: 1fr 3fr;
    background-color: rgba(0, 0, 0, 0.309);
}

.topBarMenu {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;

}

.content {
    display: grid;
    margin: 0% 5% 0% 5%;
}


button {
    border-radius: 10px;
}

textarea {
    width: 100%;
    border: solid;
    height: 80px;
}

.skillsItem{
   
    padding:30px;
   
    word-spacing:25px;
}
.contactStyle{
    text-align: center;
    padding:30px;
}
.Happy{
    text-align: center;
    padding:30px;
}
h1{
    text-align: center;
}
@media screen and (max-width: 600px) {
    img {
        margin: auto;
        margin-top: 15px;
        border-radius: 50%;
        width: 50%;
    }

    .gridContainer {
        display: grid;
        grid-gap: 150px;
    }

    .topNavBar .icon {
        float: right;
        margin-right: 10%;
    }
    
    .icon{
        text-align:start;
        margin-bottom: 50px;
       
    }
    p{
        margin-bottom: 70px;
    }
    .skillsItem{
   text-align: start;
        margin-top: -30px;
    }   
}