body {
  background-color: deepskyblue;
  font-size: 20px;
  font-family: monospace;
  text-align: justify;
}
.midContent {
  display: flexbox;
  grid-template-columns: 1fr 1fr 1fr;
}
.Projects {
  margin-top: 5px;
}

.Contact {
  margin-top: 5px;
  margin-bottom: 5px;
}
p {
  white-space: initial;
}

h1 {
  text-align: center;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

img {
  border-radius: 50%;
  width: 100px;
  height: 550px;
  margin-top: 5px;
}
a {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
}
a:hover{
  background-color:grey;
}
@media screen and (max-width: 600px) {
  img {
    border-radius: 50%;
    width: 10px;
    height: 200px;
    margin-top: 5px;
  }
  .midContent {
    grid-template-columns: 1fr;
  }
  .Projects {
    margin-top: 5px;
  }
  .Contact {
    margin-top: 5px;
    margin-bottom: 5px;
  }
    
}
footer {
  font-size: smaller;
  display: grid;
  grid-template-columns: 33% 33% 33%;
  background-color: hotpink;
}
ul {
  list-style-type: none;
}
.Projects,
.Contact,
.Skills {
  border: 3px solid black;
}
header {
  font-size: smaller;
  display:grid;
  grid-template-columns: 22% 22% 22% 22%;
  background-color: hotpink;
}
